<%- include('includes/head') %>

    <div class="flex items-center justify-center bg-red-100">
        <h1 class="text-xs text-red-600"><%- title %></h1>
        <h3><%- msg %></h3>
        <p><%= code %></p>
    </div> 

<%- include('includes/footer') %>
